.brilliantMenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10% 10%;

    .brilliantMenu__heading, .brilliantMenu__desc{
        margin-bottom: 25px;
    }

    .brilliantMenu__menu{
        width: 100%;
        height: 100%;
        margin: 35px 0;

    }
}